/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    scrollbar-gutter: stable;
    /* Prevent layout shift when scrollbar appears */
    overflow-y: scroll;
    /* Always show scrollbar */
}

/* Customize appearance */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.peer:valid~.peer-valid\:top-1 {
    top: 1px !important;
}

.peer:focus~.peer-focus\:top-1 {
    top: 1px !important;
}